<div class="form-group" >
    <label for="id">Id : </label>
    {{ model.currentUser.id}}
</div>

<div class="form-group" >
    <label for="name">Name</label>
    {{input id="name" value=model.currentUser.name placeholder="Your Name" class="form-control"}}
</div>

<div class="form-group" >
    <label for="email">Email</label>
    {{input value=model.currentUser.email placeholder="Your Email" class="form-control"}}
</div>

<div class="form-group">
    <label for="phone">Phone Number</label>
    {{input value=model.currentUser.phone placeholder="Your Phone Number" class="form-control"}}
</div>

<div class="form-group">
    <label for="address">Address</label>
    {{input value=model.currentUser.address placeholder = "Your Addresss" class="form-control"}}
</div>

<div class="form-group">
    <label for="is_active">Active</label>
    {{input type="checkbox" checked=model.currentUser.is_active class="form-control"}}
</div>

<div class="form-control">
    <label for="role">Role</label>
    <select id="role" onchange={{action 'selectRole' value='target.value' class="form-control"}}>
        <option value="admin">Admin</option>
        <option value="member">Member</option>
        <option value="guest">Guest</option>
    </select>
</div>
<div class="row justify-content-center" style="padding-top: 10px;">
    
    <button {{action 'editUser' model.currentUser}} class="btn btn-primary">Submit</button>
</div>

